@model IEnumerable<Family>


<div class="text-center">
    <h1 class="display-4 Family">Family</h1>
</div>


<div class="container text-center">
    @if (User.Identity.IsAuthenticated && User.IsInRole("user"))
        {
        <a type="btn btn-success" asp-controller="Family" asp-action="Create" class="btn AddFamilyButton btn-xlg btn-outline-secondary">+</a>
        }
    <div class="row">
        <br />
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <img class="FamilyPhoto" src="@item.Image" />
                        <a type="btn btn-success" asp-controller="FamilyMember" asp-action="Index" class="btn btn-sm btn-outline-secondary">@item.FamilyName</a>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {<a type="button" class="btn btn-sm btn-outline-info" asp-controller="Family" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                            <a type="button" class="btn btn-sm btn-outline-info" asp-controller="Family" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }

                    </div>
                </div>
            </div>

            <!--<div>-->
            @*<a type="button" class="btn btn-sm btn-outline-info" asp-controller="Family" asp-action="Edit" asp-route-id="@item.Id">
                    Edit
                </a>*@
            @*<a type="button" class="btn btn-sm btn-outline-danger" asp-controller="Club" asp-action="Delete" asp-route-id="@club.Id">
                    Delete
                </a>*@
            <!--</div>-->
        }
    </div>
</div>

@*<div class="container text-center">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <h3>@item.FamilyName</h3>
                        <div class="card-body">
                            <img class="FamilyPhoto" src="@item.Image" />
                            <a href="../familymember">Photos</a>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>*@

@*<div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <img class="FamilyPhoto" src="https://i.imgur.com/OpqEbBQ.jpg"/>
                        <h4 class="card-title">Morgan</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <img class="FamilyPhoto" src="https://i.imgur.com/17Zfj2P.jpg"/>
                        <h4 class="card-title">Thornton</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <img class="FamilyPhoto" src="https://i.imgur.com/eYa36Fy.jpg"/>
                        <h4 class="card-title">Townsend</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>*@



@*<div class="text-center">
        <h1 class="display-4 Family">Family</h1>
        <p>
            <img src="Media/Bettye2.jpg" width="60%" alt="Bettye Morgan"/>
        </p>
    </div>*@